.tray {
  margin-top: 40px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.tray-card {
  width: 90px;
  height: 130px;
  border-radius: 10px;
  border: 2px solid #6ff;
  box-shadow: 0 0 20px #00ffaa55;
}
